@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h2 class="display-4">To</h2>
        <h3 class="display-4">3i Infotech</h3>
        <h4 class="display-4">Number 1 IT solutions in Petone</h4>
        <h5 class="display-4">Wellington</h5>



        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    </div>
